/*******************************************************************************
 * Custom Fonts
 ******************************************************************************/
 
@font-face {
  font-family: 'National2Regular';
  src: url('/font/National2-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'National2RegularItalic';
  src: url('/font/National2-RegularItalic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'National2Medium';
  src: url('/font/National2-Medium.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'National2Bold';
  src: url('/font/National2-Bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'National2BoldItalic';
  src: url('/font/National2-BoldItalic.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'DartmouthRuzickaRegular';
  src: url('/font/DartmouthRuzicka-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'DartmouthRuzickaBold';
  src: url('/font/DartmouthRuzicka-Bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'National2Light';
  src: url('/font/National2-Light.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'National2LightItalic';
  src: url('/font/National2-LightItalic.woff2') format('woff2');
  font-display: swap;
}